# IDE
*.vscode

# Python
*.venv
*.ipynb
*.pyc

# Latex
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.fdb_latexmk
*.fls
*.dvi

# SSL/TLS
# TODO: REMOVE THIS BEFORE DEPLOYMENT
# *.pem
# *.key
*.csr
test_certs.zip

# General databases
*.csv
*.txt
*.sqlite3